@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

header {
    height: 1161px;
    background: url('../img/designer_1\ \(1\).svg') no-repeat;
    background-position: right bottom 50px; /*set the bg position*/
}

nav {
    height: 60px;
    /*border: 1px solid red;*/ /*This for idicate the border while we are setting the template*/
    display: flex; /* make the text position to the same line*/
    justify-content: space-between; /*make the text has space between each element*/
    align-items: center; /*make elements center*/
}

nav ul {
    display: flex;
    list-style: none; /*to delete bullets*/
    width: 255px;
    /*border: 1px solid red;*/
    justify-content: space-between; /*Pprovide the same result as the 'margin-right' belows*/
}

/* nav ul li {
    margin-right: 60px;
}*/ 

nav ul li a {
    text-decoration: none; /*delete the text underline*/
    color: #505F98;
}

.logo {
    text-align: center;
}

.logo h1 {
    color: #37447E;
    font-size: 26px;
}

.nav-btn {
    text-align: center;
    width: 160px;
    height: 26px;
    background: #111B47;
    border-radius: 2px; /*make the border not sharp*/
    display: flex; /*use flex because we can use align and justify to make the text center*/
    align-items: center; /*vertical set*/
    justify-content: center; /*horizontal set*/
}

.nav-btn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.header-info {
    margin-top: 250px;
    width: 540px;
    /*border: 1px solid red;*/
       
}

.header-title h1 {
    font-size: 50px;
    text-align: left;
    color: #091133;
    margin-bottom: 30px;
    
}


    

.header-content p {
    margin-top: 30px;
    font-size: 18px;
    color: #505F98;
    line-height: 30px;
    letter-spacing: 0px;
    
}

.header-btn {
    display: flex;
    margin-top: 65px;
}

.header-btn a {
    display: inline-block;
}

.purchase {
    background-color: #111B47;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1.5rem;  /*He set by himself*/
    border-radius: 2px;
    margin-right: 30px; /*Margin is outside the box, Padding is inside the box*/
}

.learn-more {
    color: #111B47;
    background-color: #fff;
    text-decoration: none;
    border: 2px solid #111B47;
    padding: .5rem 1.5rem;
    border-radius: 2px;
    
}